
@font-face {
    font-family: "PNB";
    src: url('../fonts/proxima_nova_bold.eot');
    src: url('../fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold.woff') format('woff'),
         url('../fonts/proxima_nova_bold.ttf') format('truetype'),
         url('../fonts/proxima_nova_bold.svg#PNB') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PNS';
    src: url('../fonts/proxima_nova_semibold.eot');
    src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_semibold.woff2') format('woff2'),
         url('../fonts/proxima_nova_semibold.woff') format('woff'),
         url('../fonts/proxima_nova_semibold.ttf') format('truetype'),
         url('../fonts/proxima_nova_semibold.svg#PNS') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PNR';
    src: url('../fonts/proxima_nova_regular.eot');
    src: url('../fonts/proxima_nova_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_regular.woff2') format('woff2'),
         url('../fonts/proxima_nova_regular.woff') format('woff'),
         url('../fonts/proxima_nova_regular.ttf') format('truetype'),
         url('../fonts/proxima_nova_regular.svg#PNR') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PNL';
    src: url('../fonts/proxima_nova_light.eot');
    src: url('../fonts/proxima_nova_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_light.woff2') format('woff2'),
         url('../fonts/proxima_nova_light.woff') format('woff'),
         url('../fonts/proxima_nova_light.ttf') format('truetype'),
         url('../fonts/proxima_nova_light.svg#PNL') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PNCB';
    src: url('../fonts/proximanovacond-bold.eot');
    src: url('../fonts/proximanovacond-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanovacond-bold.woff2') format('woff2'),
         url('../fonts/proximanovacond-bold.woff') format('woff'),
         url('../fonts/proximanovacond-bold.ttf') format('truetype'),
         url('../fonts/proximanovacond-bold.svg#PNCB') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'OSL';
    src: url('../fonts/opensans-light.eot');
    src: url('../fonts/opensans-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light.woff2') format('woff2'),
         url('../fonts/opensans-light.woff') format('woff'),
         url('../fonts/opensans-light.ttf') format('truetype'),
         url('../fonts/opensans-light.svg#OSL') format('svg');
    font-weight: normal;
    font-style: normal;

}

html,
body {
	position: relative;
}
body {
	-webkit-text-size-adjust: none;
	min-width: 1000px;
	text-align: center;
	font-family: 'PNR';
	color: #4B4B4B;
}
a{
	text-decoration: none;
	color: #00B0E2;
}
li{
	list-style: none;
}
svg{
	overflow: visible;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
}
h2 {
	font-family: "PNB";
	font-size: 36px;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	background-color: #FFF7F7 !important;
  	border: 1px solid #E2B5B5 !important;
}
.ps-lines{
	display: none;
}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.uptxt {
	text-transform: uppercase;
}
ul.hor li {
	float:left;
}
.text {
	font-size: 18px;
	color: #84868E;
	line-height: 28px;
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 960px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -480px;
}
::-webkit-input-placeholder {
	color: #505050;
}
:-moz-placeholder {
	color: #505050;
}

.map-point {
	color: #fff;
	font-size: 16px;
	font-family: "PNR";
}
.fancybox-close {
	display: none;
}
.fancybox-skin {
	background: none;
}
.fancybox-opened .fancybox-skin {
	box-shadow: none;
	-webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.b-popup {
	width: 349px;
	padding: 22px 56px 39px;
	background: #FFFFFF;
	box-shadow: 0px 15px 15px 0px rgba(0,0,0,0.15), inset 0px -3px 0px 0px rgba(0,0,0,0.20);
	border-radius: 4px;
	position: relative;
    margin-bottom: 30px;
}
	.b-popup h3{
	font-size: 24px;
	font-family: "PNB";
	color: #505050;
	margin-bottom: 30px;
	}
	.b-popup svg {
		position: absolute;
		right: 22px;
		top: 22px;
		cursor: pointer;
	}
	.b-popup svg:hover .svg {
		stroke: #00B0E2;
		unicode-bidi: 
	}
	.b-popup form{

	}
		.b-popup input[type="text"],.b-popup textarea{
			margin-bottom: 30px;
			width: 312px;
			border: 1px solid #D1D2CA;
			border-radius: 5px;
			font-family: "PNR";
			font-size: 16px;	
			color: #505050;
			line-height: 20px;
			padding: 14px;
		}
		.b-popup textarea{
			height: 119px;
			resize: none;
		}
		.b-popup label{
			display: block;
			float: left;
			font-size: 14px;
			font-family: "PNCB";
			cursor: pointer;
		}
		.b-popup label:hover{
			text-decoration: underline;
		}
			.b-popup label img{
				margin-right: 9px;
			}
		.b-popup .b-orange-butt{
			cursor: pointer;
			margin-top: -5px;
			margin-left: 72px;
			float: left;
			width: 147px;
			border: none;
  			border-bottom: 3px solid #008CB4;
		}
		.b-popup .b-orange-butt:active {
			margin-top: -2px;
		}
.b-orange-butt{
	font-family: "PNB";
	display: inline-block;
	background: #00B0E2;
	border-bottom: 3px solid #008CB4;
	border-radius: 40px;
	font-size: 12px;
	color: rgba(255,255,255,0.85);
	letter-spacing: 0.8px;
	line-height: 15px;
	text-transform: uppercase;
	padding: 14px 0 11px;
}
	.b-orange-butt:hover{
		background-color: #35CFFA;
		color: #FFF;
	}
	.b-orange-butt:active{
		border-bottom: none;
		margin-top: 3px;
	}
.b-header{
	
}
	.b-header .b-block{
		display: table;
		height: 151px;
	}
		
		.b-header .b-block>div{
			display: table-cell;
			height: 100%;
			vertical-align: middle;
		}
			.b-header .b-block .b-logo-cont a{
				display: inherit;

			}
		.b-header .b-block .b-menu{
			padding-left: 12px;
		}
			.b-header .b-block .b-menu li{
				font-family: "PNS";
				text-transform: uppercase;
				font-size: 14px;
				margin-right: 10px;
				letter-spacing: 0.8px;
				line-height: 0px;
			}
				.b-header .b-block .b-menu li a{ 
					height: 26px;
					overflow: hidden;
					display: inline-block;
					color: #4B4B4B;
					padding: 0px 9px;
					line-height: 26px;
				}
					.b-header .b-block .b-menu li.active a{
						cursor: default;
					}
					.b-header .b-block .b-menu li a p{
						-webkit-transition: all 250ms cubic-bezier(.27,.68,.55,.95);
						   -moz-transition: all 250ms cubic-bezier(.27,.68,.55,.95);
						    -ms-transition: all 250ms cubic-bezier(.27,.68,.55,.95);
						   	 -o-transition: all 250ms cubic-bezier(.27,.68,.55,.95);
								transition: all 250ms cubic-bezier(.27,.68,.55,.95);
					}
						.b-header .b-block .b-menu li a:hover p,
						.b-header .b-block .b-menu li.active a p{
							margin-top: -26px;
						}
					.b-header .b-block .b-menu li a span{
						color: #00B0E2;
					}
				.b-header .b-block .b-menu li a:hover{ 
					
				}
		.b-header .b-block .b-date-cont{
		}
			.b-header .b-block .b-date-cont h3{
				font-size: 21px;
				text-transform: uppercase;
			}
			.b-header .b-block .b-date-cont a{
				font-size: 16px; 
			}
				.b-header .b-block .b-date-cont a:hover{
					text-decoration: underline;
				}
			.b-header .b-block .b-butt-cont {
			}
		.b-header .b-block .b-orange-butt{
			width: 178px;
			margin-top: -2px;

		}
		.b-header .b-block .b-orange-butt:active {
			margin-top: 1px !important;
		}
.b-slider {

}
.b-slider .mightyslider_modern_skin{

}
.b-slider .mightySlider {
	width: 100%;
	height: 720px;
}
	.mightySlider .frame{
		width: 100%;
		height: 100%;
	}
		.b-slider ul.slideelement{
			height: 100%;
			text-align: left;
		}
			.b-slider ul.slideelement li{
				float: left;
				width: 1280px;
				height: 100%;
			}
				.b-slider ul.slideelement li .bigImg{
					opacity: 0;
					width: 100%;
					height: 100%;
					background-position: 50% 50%;
					background-size: cover;
				}
				.b-slider ul.slideelement li .b-block{
					top: 50px;
					opacity: 0;
					text-align: center;
					height: 100%;
				}
					.b-slider ul.slideelement li .b-table{
						display: table;
						width: 100%;
						height: 100%;
					}
						.b-slider ul.slideelement li .b-table-cell{
							height: 100%;
							display: table-cell;
							vertical-align: middle;
						}
				.b-slider .slider_desc{
					display: inline-block;
				}
					.b-slider .slider_desc .clearfix{
						margin-bottom: 20px;
					}
						.b-slider .slider_desc .slider_icon{
							width: 87px;
							height: 87px;
						}
						.b-slider .slider_desc .slider_title{
							margin: 0px 20px;
						}
							.b-slider .slider_desc .slider_title h3{
								font-family: "PNR";
								font-weight: 300;
								font-size: 64px;
								margin-top: 5px;
								color: #FFFFFF;
								line-height: 76px;
							}
					.b-slider .slider_desc p{
						width: 480px;
						/*opacity: 0;*/
						/*top: 127px;*/
						font-size: 20px;
						color: #FFFFFF;
						line-height: 30px;
					}
	.b-slider .mightyslider_modern_skin .mSPages{
		bottom: 35px !important;
		overflow: visible;
		height: auto;
	}
		.b-slider .mightyslider_modern_skin .mSPages li{
			width: 14px !important;
			height: 14px !important;
			border: 0px;
			background-color: #FFF;
			opacity: 0.5;
			margin-top: 0px;
		}
			.b-slider .mightyslider_modern_skin .mSPages li:hover{
				opacity: 0.8;
			}
		.b-slider .mightyslider_modern_skin .mSPages li.active{
			opacity: 1;
			width: 14px;
			height: 14px;
		}
.b-about-team {
	background-color: #F6F8FA;
	padding-top: 70px;
	padding-bottom: 70px;

}
	.b-about-team .b-block {

	}
		.b-about-team .b-block h2{
			font-family: "PNL";
			margin-bottom: 27px;
			line-height: 44px;
		}
		.b-about-team .b-block h3{	
			font-size: 18px;
			color: #84868E;
			margin-bottom: 70px;
		}
		.b-about-team .b-block ul{
			margin-bottom: 71px;
		}
			.b-about-team .b-block ul li{
				margin-right: 69px;
			}
				.b-about-team .b-block ul li img{
					width: 274px;
					height: 274px;
					border-radius: 150px;
				}
				.b-about-team .b-block ul li h4{
					font-size: 18px;
					color: #414551;
					text-transform: uppercase;
					margin-top: 20px;
				}
		.b-about-team .b-block .b-orange-butt{
			width: 218px;
		}
.b-projects {
	padding-top: 70px;
	padding-bottom: 70px;
}
	.b-projects .b-block {

	}
		.b-projects .b-block h2{
			margin-bottom: 71px;
		}
		.b-projects .b-block ul{
			margin-bottom: 14px;
		}
			.b-projects .b-block ul li{
				overflow: hidden;
				/*width: 33.333333%;*/
				margin-bottom: 72px;
				font-size: 0px;
				position: relative;
				cursor: pointer;
				margin-right: 51px;
			}
			.b-projects .b-block ul li:nth-child(3n){
				margin-right: 0;
			}
				.b-projects .b-block ul li img{
					width: 286px;
					height: 283px;
				}
				.b-projects .b-block ul li a{
					position: absolute;
					width: 286px;
					height: 283px;
					left: 0;
					top: -283px;
					background-color: rgba(0,117,149,0.8);
				}
					.b-projects .b-block ul li a{

					}
					.b-projects .b-block ul li a h2{ 
						display: block;
						margin-top: 122px;
						
						vertical-align: middle;
						font-size: 16px;
						color: #fff;
					}
					.b-projects .b-block ul li a h2:hover{ 
						text-decoration: underline;
					}
		.b-projects .b-block .b-orange-butt{
			width: 248px;

		}
.b-classification {
	background-color: #F6F8FA;
	padding-top: 70px;
	padding-bottom: 70px;
}
	.b-classification .b-block {

	}
		.b-classification .b-block h2{
			margin-bottom: 70px;
		}
			.b-classification .b-block ul{
			
			}
				.b-classification .b-block ul li{
					position: relative;
					background-color: #fff;
					width: 294px;
					padding-bottom: 35px;
					box-shadow: 0px 3px 0px 0px #EAEAEA;
					border-radius: 8px;
					margin-right: 39px;
				}
					.b-classification .b-block ul li .b-canvas-cont{
						width: 294px;
						height: 179px;
						overflow: hidden;
						position: relative;
						border-radius: 8px 6px 0 0;
					}
						.b-classification .b-block ul li canvas{
							height: 179px;
							width: 150%;
							margin-left: -25%;
						}
					.b-classification .b-block ul li .b-desc-cont{
						width: 100%;
						position: absolute;
						left: 0px;
						top: 0px;
						color: #fff;
						height: 179px;
						border-radius: 8px 6px 0 0;
					}
						.b-classification .b-block ul li .b-desc-cont h3{
							font-family: "PNS";
							display: inline-block;
						  	text-transform: uppercase;
						  	font-size: 12px;
						  	letter-spacing: 4.06px;
						  	border: 2px solid rgba(255,255,255,0.33);
						  	border-radius: 40px;
						  	margin-top: 36px;
						  	padding: 6px 9px 5px 11px;
						}	
						.b-classification .b-block ul li .b-desc-cont h4{
							font-size: 37px;
							font-family: "PNB";
							margin-top: 29px;
						}
							.b-classification .b-block ul li .b-desc-cont h4 span{
								font-family: "PNR";
								font-size: 20px;
								position: relative;
  								bottom: 14px;
  								right: 5px;
							}
							.b-classification .b-block ul li .b-desc-cont h4 small{
								font-size: 20px;
 								position: relative;
 								left: 3px;
 								font-family: "PNL";
							}
								.b-classification .b-block ul li .b-desc-cont h4 small:after{
									display: block;
  									color: #fff;
  									position: absolute;
  									content: "-";
  									font-size: 0px;
  									font-weight: 300;
  									width: 7px;
  									top: 14px;
  									left: 0;
  									z-index: 1;
  									height: 2px;
  									background: #FFF;
								}
								.b-classification .b-block ul li .b-desc-cont h4 small:before{
									display: block;
  									color: #fff;
  									position: absolute;
  									content: "-";
  									font-size: 0px;
  									font-weight: 300;
  									width: 4px;
  									top: 11px;
  									left: 0;
  									z-index: 1;
  									height: 2px;
  									background: #FFF;
								}
							.b-classification .b-block ul li .b-desc-cont h4 div{
								display: inline;
							}
					.b-classification .b-block ul li h5{
						font-size: 16px;
						padding: 27px;
						color: #414551;
						line-height: 22px;
					}
					.b-classification .b-block ul li a{
						font-family: "PNB";
						text-transform: uppercase;
						font-size: 12px;
						color: #828587;
						border: 1px solid #DEDEDE;
						letter-spacing: 0.75px;
						display: inline-block;
 						padding: 12px 27px;
 						border-radius: 40px;

					}
					.b-classification .b-block ul li a:hover{
						color: #00B0E2;

					}
.b-clients {
	padding-top: 71px;
	padding-bottom: 11px;
}
	.b-clients .b-block {

	}
		.b-clients .b-block h2{
			margin-bottom: 74px;
		}
		.b-clients .b-block ul{
			font-size: 0;
		}
			.b-clients .b-block ul li{
				display: inline-block;
				vertical-align: middle;
				width: 240px;
				margin-bottom: 70px;
				position: relative;
			}
				.b-clients .b-block ul li a{
					position: relative;
					display: block;
				}
					.b-clients .b-block  li img{
						filter: url('../js/filters.svg#grayscale'); /* Firefox 3.5+ */
						filter: gray; /* IE6-9 */
						-webkit-filter: grayscale(1); /* Webkit Nightlies & Google Chrome Canary */
    					max-width: 90%;
    					max-height: 90%;
					}
					.img_wrapper{
						position: relative;
					}
					.img_wrapper img{
						position: absolute;
						left: 0px;
						top: 0px;
					}
						.b-clients .b-block  li img:hover{
							filter: none; /* Applies to FF + IE */
							-webkit-filter: grayscale(0);
						}
.b-map-cont {

}
	.b-map-cont h2{
		position: absolute;
		font-family: "PNR";
		color: #fff;
		width: 100%;
		height: 52px;
		padding-top: 40px;
		padding-bottom: 12px;
		background: linear-gradient(to bottom, rgba(0,0,0,0.41), rgba(0,0,0,0));
		z-index: 1;
	}
	.b-map{
		background-color: #000 !important;
		height:536px;
		position: relative;
	}
		.b-map>div:first-child>div:first-child>div:first-child>div:last-child{
			opacity: 0.5;
		}

.b-footer {
	padding-top: 70px;
	padding-bottom: 30px;
	background: #292B32;
}
	.b-footer .b-block {

	}
		.b-footer .b-block h2{
			color: rgba(255,255,255,0.85);
			line-height: 44px;
			margin-bottom: 66px;
		}
		.b-footer .b-block .contacts{
			color: #fff;
			font-size: 16px;
			text-align: left;
			margin-bottom: 80px;

		}
		.b-footer .b-block .contacts .left{		
			margin-left: 147px;
		}
			.b-footer .b-block .contacts .left a{
				color: #fff;
			}
			.b-footer .b-block .contacts .left>a,
			.b-footer .b-block .contacts .left>div,
			.b-footer .b-block .contacts .left a.fb{
				display: block;
				position: relative;
			}
			.b-footer .b-block .contacts .left a:hover{
				text-decoration: underline;
			}
			.b-footer .b-block .contacts .left>a:after,
			.b-footer .b-block .contacts .left>div:after,
			.b-footer .b-block .contacts .left a.fb:after{
				display: block;
  				color: #fff;
  				position: absolute;
  				content: "s";
  				font-size: 0px;
  				background-position: 50% 50%;
  				background-repeat: no-repeat;
  				background-size: cover;
			}
			.b-footer .b-block .contacts .left .mail-1:after,.b-footer .b-block .contacts .left .mail-2:after{
				width: 19px;
  				height: 15px;
  				left: -30px;
  				top: 2px;
  				background-image: url('../i/mail.png');
			}
			.b-footer .b-block .contacts .left .mail-2 div{
				display: inline-block !important;
			}
			.b-footer .b-block .contacts .left .mail-2{
				margin-bottom: 26px;
  				margin-top: 5px;
			}
			.b-footer .b-block .contacts .left .skype{
				margin-bottom: 10px;
			}
			.b-footer .b-block .contacts .left .skype:after{
				width: 19px;
  				height: 17px;
  				left: -30px;
  				top: 2px;
  				background-image: url('../i/skype.png');
			}
			.b-footer .b-block .contacts .left .map:after{
				width: 14px;
  				height: 18px;
  				left: -27px;
  				top: 0;
  				background-image: url('../i/map.png');
			}
			.b-footer .b-block .contacts .left .map{
				margin-bottom: 11px;
			}
			.b-footer .b-block .contacts .left .fb:after{
				width: 10px;
  				height: 19px;
  				left: -26px;
  				top: 0;
  				background-image: url('../i/fb.png');
			}	
		.b-footer .b-block .contacts .right{
			  margin-right: 88px;
		}	
			.b-footer .b-block .contacts .right h3{
				font-size: 16px;
				margin-bottom: 5px;
			}	
			.b-footer .b-block .contacts .right h4{
				font-size: 26px;
			}
			.b-footer .b-block .contacts .right .b-orange-butt{
				width: 209px;
  				text-align: center;
  				margin-right: 123px;
  				margin-top: 45px;
  				font-size: 14px;
  				font-family: "PNB";
  				padding: 17px 0 14px;
			}
			.b-footer .b-block .contacts .right .b-orange-butt:active {
				margin-top: 48px;
			}
			.b-footer .b-block h5{

				font-size: 12px;
				color: rgba(255,255,255,0.42);
			}
.b-sub-menu {
	position: relative;
	font-size: 0;
	overflow: hidden;
}
	.b-sub-menu canvas{
		height: 63px;
		width: 150%;
		margin-left: -25%;
	}
	.b-sub-menu .b-block{
		top: 12px;
	}
		.b-sub-menu .b-block ul{
			display: inline-block;
			margin-left: 50px;
		}
			.b-sub-menu .b-block ul li{
				margin: 0px 19px;
			}
			.b-sub-menu .b-block ul li a{
				display: block;
				color: #fff;
			  	text-transform: uppercase;
			  	font-family: "PNS";
			  	font-size: 14px;
			  	letter-spacing: 2.49px;
				line-height: 17px;
				border-radius: 40px;
			  	padding: 11px 24px;
			}
				.b-sub-menu .b-block ul li a:hover{
					text-decoration: underline;
				}
			.b-sub-menu .b-block ul li.active a{
				border: 2px solid rgba(255,255,255,0.40);
			  	padding: 10px 22px 8px;
			  	cursor: default;
			}
				.b-sub-menu .b-block ul li.active a:hover{
					text-decoration: none;
				}
.b-about {
	padding-top: 70px;
}
	.b-about .b-block {

	}
		.b-about .b-block h2{
			margin-bottom: 50px;
		}
		.b-about .b-block h3{
			font-family: "OSL";
			color: #4F4F4F;
			font-size: 27px;
			margin-bottom: 50px;
		}
		.b-about .b-block h4{
			font-size: 18px;
			color: #84868E;
			margin-bottom: 95px;
		}
		.b-about .b-block ul{
			display: inline-block;
		}	
			.b-about .b-block ul li{
				width: 298px;
  				height: 315px;
  				margin: 0 11px 107px;
			}
				.b-about .b-block ul li h5{
				font-size: 16px;
				}
				.b-about .b-block ul li div{
					width: 100%;
  					height: 181px;
  					background-position: 50% 50%;
  					background-repeat: no-repeat;
  					margin-bottom: 50px;
				}
					.b-about .b-block ul li div div{
						display: inline-block;
					}
					.b-about .b-block ul li div img{
						display: none;
					}
					.b-about .b-block ul.ie9 li div div{
						display: none;
					}
					.b-about .b-block ul.ie9 li div img{
						display: inline-block;
					}
					ul.ie9 li div img.svg-anim {
						opacity: 0;
						-webkit-transition: all 500ms ease-in;
						   -moz-transition: all 500ms ease-in;
						    -ms-transition: all 500ms ease-in;
						   	 -o-transition: all 500ms ease-in;
								transition: all 500ms ease-in;
					}
					ul.ie9 li div img.svg-anim-show {
						opacity: 1;
					}
					.b-about .b-block ul li div #iphone{
						margin-top: 2px;
  						margin-left: 2px;
					}
					.b-about .b-block ul li div #star{
						margin-top: 1px;
  						margin-left: 2px;
					}
					.b-about .b-block ul li div #graph{
						margin-top: 9px;
  						margin-left: 2px;
					}
					.b-about .b-block ul li div #like{
						margin-top: 12px;
  						margin-left: 2px;
					}
					.b-about .b-block ul li div #settings{
						margin-top: 10px;
  						margin-left: 2px;
					}
					.b-about .b-block ul li div #man{
						margin-top: 5px;
  						margin-left: 2px;
					}
.b-comments {
	background: #F6F8FA;
	padding-top: 70px;
	overflow: hidden;
}
.b-comments .b-block h2{
	margin-bottom: 20px;
}

.b-comments .mightyslider_modern_skin{
	background: #F6F8FA;
}
.b-comments .mightySlider {
	width: 100%;
	height: 245px;
}
	.b-comments .mightySlider ul.slideelement{
		overflow: visible !important;
		height: 100%;
	}
		.b-comments .mightySlider ul.slideelement li{
			list-style: none;
			height: 100%;
		}
		.b-comments .mightySlider .mSCaption{
			width: 800px;
			left: 50%;
  			margin-left: -400px;
  			color: #000;
		}
		.b-comments .mightySlider .mSCaption .comment-cont{
  			display: table;
  			margin-bottom: 10px;
		}
			.b-comments .mightySlider .comment-cont>div{
  				display: table-cell;
  				vertical-align: middle;
			}
				.b-comments .mightySlider .comment-cont div img {
					width: 100px;
  					height: 100px;
  					border-radius: 50px;
				}
				.b-comments .mightySlider .comment-cont div:nth-child(2){
					width: 700px;
					text-align: left;
					padding-left: 25px;					
				}
					.b-comments .mightySlider .comment-cont div:nth-child(2) h3 {		
						font-size: 18px;
						line-height: 26px;
					}
		.b-comments .mightySlider h4{
			text-align: left;
			font-size: 16px;
			font-family: "PNS";
			margin-left: 125px;
		}
		.b-comments .mightyslider_modern_skin.horizontal .mSPrev {
			background: url("../i/arrow-l.png") no-repeat;
			margin-left: -480px;

		}
		.b-comments .mightyslider_modern_skin.horizontal .mSNext{
			background: url("../i/arrow-r.png") no-repeat;
			margin-left: 420px;
		}
		.b-comments .mightyslider_modern_skin.horizontal .mSPrev,
		.b-comments .mightyslider_modern_skin.horizontal .mSNext{
			background-size: auto 50px;
			background-position: 0% 50%;
			left: 50%;
			width: 26px;
			top: -140px;
			opacity: 1;
		}
		.b-comments .mightyslider_modern_skin.horizontal .mSPrev:hover,
		.b-comments .mightyslider_modern_skin.horizontal .mSNext:hover {
			background-position: 100% 50%;
		}

.b-team {
	padding-top: 70px;
	padding-bottom: 116px;
}
	.b-team .b-block {

	}
		.b-team .b-block h2{
			margin-bottom: 70px;
		}
		.b-team .b-block ul {

		}
		.b-team .b-block ul li{
			margin-bottom: 70px;
			margin-right: 53px;
		}
			.b-team .b-block ul li:nth-child(4n){
				margin-right: 0;
			}
			.b-team .b-block ul li div{
				width: 200px;
				height: 200px;
				border-radius: 100px;
				background-size: 200px;
				margin-bottom: 30px;
			}
			.b-team .b-block ul li h3{
				font-size: 18px;
				font-family: "PNB";
				color: #232835;
				margin-bottom: 5px;
			}
			.b-team .b-block ul li h4{
				font-size: 16px;
				color: #828587;
			}
.b-work{
	padding-top: 70px;
	padding-bottom: 50px;
}
	.b-work .b-block{

	}
		.b-work .b-block h2{
			margin-bottom: 70px;
		}
		.b-work .b-block ul{
			margin-left: 14px;
			text-align: left;
			padding-left: 43px;
			border-left: 2px solid #E7E7E7;
		}
			.b-work .b-block ul li{
				margin-bottom: 30px;
				position: relative;
				width: 100%;
			}
			.b-work .b-block ul li:last-child{
				margin-bottom: 0;
			}
				.b-work .b-block ul li div{
					display: table;
					position: absolute;
					width: 32px;
					height: 32px;
					top: -5px;
  					left: -61px;
					border-radius: 16px;
					background-color: #00B0E2;
					text-align: center;

				}
					.b-work .b-block ul li div span{
					color: #fff;
					display: table-cell;
					vertical-align: middle;
					font-size: 18px;

					}
				.b-work .b-block ul li h3{
					font-family: "PNB";
					font-size: 18px;
					
				}
				.b-work .b-block ul li p{
					color: #84868E;
					font-size: 16px;
					margin-top: 14px;
				}
				.b-work .b-block ul li p a{
					text-decoration: underline;
				}
				.b-work .b-block ul li p a:hover{
					text-decoration: none;
				}
.b-instruments{
	padding-top: 50px;
	padding-bottom: 103px;
}
	.b-instruments .b-block{

	}
		.b-instruments .b-block h2{
			margin-bottom: 60px;
		}
		.b-instruments .b-block ul{

		}
			.b-instruments .b-block ul li{
				width: 248px;
  				height: 103px;
				border: 2px solid #EFEFEF;
				margin-bottom: 21px;
				margin-right: 21px;
				padding: 27px;
				border-radius: 4px;
			}
			.b-instruments .b-block ul li:nth-child(3n){
				margin-right: 0;
			}
			.b-instruments .b-block ul li h3{
				font-size: 20px;
				font-family: "PNB";
			}
			.b-instruments .b-block ul li h4{
				font-size: 16px;
				padding-top: 26px;
			}
			.b-instruments .b-block ul li h4.str{
				padding-top: 14px;
			}
.b-project-fullimg {
	height: 320px;
	width: 100%;
	background-size: cover;
	background-position: 50% 0%;
	
}
	.b-project-fullimg .b-block {
		height: inherit;
	}
	.b-project-fullimg .b-block .table {
		display: table;
		height: inherit;
		width: 100%;
	}
		.b-project-fullimg .b-block .table .table-cell {
			display: table-cell;
			vertical-align: middle;
		}
		.b-project-fullimg .b-block .table .table-cell .desc-cont{
			display: inline-block;
 			vertical-align: middle;
		}
			.b-project-fullimg .b-block .table .table-cell .desc-cont img{
				margin-right: 23px;
			}
			.b-project-fullimg .b-block .table .table-cell .desc-cont h3{
				font-family: "PNR";
				font-weight: 300;
				font-size: 64px;
				color: #FFFFFF;
				line-height: 76px;
			}
.b-slider-project {
	padding-top: 94px;
}
.b-slider-project.android .mightyslider_modern_skin .mSPages li:nth-child(1){
	background-image: url("../i/project/android.png");
}
	.b-slider-project .mightyslider_modern_skin{
		background: #fff;
	}
	.b-slider-project .mightySlider {
		width: 100%;
		height: 615px;
	}
		.b-slider-project .mightySlider ul.slideelement{
			height: 100%;
			list-style: none;
		}
			.b-slider-project .mightySlider ul.slideelement li{
				float: left;
				height: 100%;
			}
			.b-slider-project .mightySlider .mSCaption{
				width: 960px;
				left: 50%;
	  			margin-left: -480px;
	  			color: #000;
			}
			.b-slider-project .mightySlider .mSCaption .slide{
	  			width: 959px;
				height: 524px;
				background: url("../i/project/iphone-slider.jpg") no-repeat;
				background-position: 50%;
				background-size: contain;
	  			
			}
			.b-slider-project .mightyslider_modern_skin.horizontal .mSPrev {
				background: url("../i/project/arrow-l.png") no-repeat;
				margin-left: -530px;
			}
			.b-slider-project .mightyslider_modern_skin.horizontal .mSNext{
				background: url("../i/project/arrow-r.png") no-repeat;
				margin-left: 510px;
			}
			.b-slider-project .mightyslider_modern_skin.horizontal .mSPrev,
			.b-slider-project .mightyslider_modern_skin.horizontal .mSNext{
				background-size: auto 40px;
				background-position: 0% 50%;
				left: 50%;
				top: -95px;
				width: 21px;
				opacity: 1;
			}
			.b-slider-project .mightyslider_modern_skin.horizontal .mSPrev:hover,
			.b-slider-project .mightyslider_modern_skin.horizontal .mSNext:hover{
				background-position: 100% 50%;
			}
			.b-slider-project .mightyslider_modern_skin .mSPages{
				bottom: 0 !important;
				height: auto;
			}
			.b-slider-project .mightyslider_modern_skin .mSPages li{
				width: 31px !important;	
				height: 37px !important;
				border: 0px;
				background-color: #fff;
				opacity: 1;
				margin-top: 0px;
				background-repeat: no-repeat;
				background-size: auto 37px;
				background-position: 100% 50%;
				
			}
			.b-slider-project .mightyslider_modern_skin .mSPages li:nth-child(1){
				width: 29px !important;
				background-image: url("../i/project/apple.png");
			}
			.b-slider-project .mightyslider_modern_skin .mSPages li:nth-child(2){	
				background-image: url("../i/project/android.png");
				
			}
			.b-slider-project .mightyslider_modern_skin .mSPages li.active{
				background-position: 0% 50%;
			}
			.b-slider-project .mightyslider_modern_skin .mSPages li:hover {
				opacity: 0.7;
			}
			.b-slider-project .mightyslider_modern_skin .mSPages li.active:hover {
				opacity: 1;
			}

.b-prj-desc {
	padding-top: 50px;
	padding-bottom: 100px;
}
	.b-prj-desc .b-block {
		text-align: left;
	}
	.b-prj-desc .b-block h2{
		margin-bottom: 27px;
	}
	.b-prj-desc .b-block p{
		width: 490px;
		margin-right: 43px;
	}
	.b-prj-desc .b-block img{
		width: 192px;
		height: 63px;
		border-radius: 9px;
		margin-left: 17px;
	}
.b-prj-task {
	background-color: #F6F8FA;
	padding-top: 63px;
	padding-bottom: 72px;
}
	.b-prj-task .b-block {

	}
		.b-prj-task .b-block h2{
			margin-bottom: 27px;
		}
.b-prj-func {
	padding-top: 55px;
	padding-bottom: 55px;
}
	.b-prj-func .b-block {
		display: table;
	}
		.b-prj-func .b-block>div{
			display: table-cell;
			width: 50%;
			vertical-align: middle;
			text-align: left;
		}
		.b-prj-func .b-block>div h2{
			margin-bottom: 28px;
		}
		.b-prj-func .b-block>div img{
			max-width: 100%;
		}
		.b-prj-func .b-block.b-left div:nth-child(2),.b-prj-func .b-block.b-right div:nth-child(1){
			text-align: center;
			font-size: 0;
		}
		.b-prj-func .b-block.b-left div:nth-child(1){
			padding-right: 70px;
		}
		.b-prj-func .b-block.b-right div:nth-child(2){
			padding-left: 70px;
		}
	.b-prj-func+.b-prj-func {
		padding-top: 0;
		margin-top: -180px;
	}
.b-dev-comm {
	padding-top: 45px;
	padding-bottom: 100px;
}
	.b-dev-comm .b-block {
		display: table;
	}
		.b-dev-comm .b-block>div {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}
		.b-dev-comm .b-block div:nth-child(1) {
			vertical-align: top;
		}
			.b-dev-comm .b-block div:nth-child(1) img {
	  			width: 200px;
	  			height: 200px;
	  			border-radius: 100px;
	  			font-size: 0;
			}
		.b-dev-comm .b-block div:nth-child(2) {
			padding-left: 52px;
		}
			.b-dev-comm .b-block div:nth-child(2) h3{
				font-size: 28px;
				font-family: "PNS";
				margin-bottom: 6px;

		    }
			.b-dev-comm .b-block div:nth-child(2) h4{
				color: 828587;
				font-size: 16px;
				margin-bottom: 31px;
			}
			.b-dev-comm .b-block div:nth-child(2) p{
				color: 828587;
				font-size: 18px;

			}
.b-client-comm {
	padding-top: 72px;
	padding-bottom: 72px;
	background-color: #F6F8FA;
}
	.b-client-comm .b-block{
		width: 790px;
	}
		.b-client-comm .b-block div:nth-child(1) img {
			width: 68px;
			height: 68px;
		}
		.b-client-comm .b-block div:nth-child(2) {
				padding-left: 22px;
		}
.b-blue {
	background-color: #00B0E2;
	padding-top: 44px;
	padding-bottom: 49px;
}
	.b-blue .b-block {

	}
		.b-blue .b-block h3{
			font-size: 28px;
			color: #fff;
			margin-bottom: 30px;
		}
		.b-blue .b-block a{
			font-size: 14px;
			font-family: "PNB";
			color: #00B0E2;
			background-color: #fff;
			border-radius: 40px;
			width: 208px;
  			padding: 17px 0 14px;
		}
.b-projects.b-proj-no-padding {
	padding-bottom: 0;
}
.b-contacts {
	padding-top: 70px;
	padding-bottom: 73px;
	background: #F6F8FA;
}
	.b-contacts .b-block {
		
	}
		.b-contacts .b-block h2{
			display: none;
		}
		.b-contacts .b-block .contacts{
			color: #4B4B4B;
			text-align: left;

		}
		.b-contacts .b-block .contacts .left{
			width: 390px;
			padding-left: 90px;
		}
			.b-contacts .b-block .contacts .left a{
						
			}
			.b-contacts .b-block .contacts .left>a,
			.b-contacts .b-block .contacts .left>div,
			.b-contacts .b-block .contacts .right h3,
			.b-contacts .b-block .contacts .right h4{
				display: block;
				position: relative;
			}
			.b-contacts .b-block .contacts .left a:hover{
				text-decoration: underline;
			}
			.b-contacts .b-block .contacts .left>a:after,
			.b-contacts .b-block .contacts .left>div:after,
			.b-contacts .b-block .contacts .right h3:after,
			.b-contacts .b-block .contacts .right h4:after{
				display: block;
  				color: #fff;
  				position: absolute;
  				content: "s";
  				font-size: 0px;
  				background-position: 50% 50%;
  				background-repeat: no-repeat;
  				background-size: cover;
			}
			.b-contacts .b-block .contacts .left .mail-1:after,.b-contacts .b-block .contacts .left .mail-2:after{
				width: 20px;
  				height: 14px;
  				left: -30px;
  				top: 7px;
  				background-image: url('../i/b-contacts/c-mail.png');
			}
			.b-contacts .b-block .contacts .left .mail-2 div{
				display: inline-block !important;
			}
			.b-contacts .b-block .contacts .left .mail-1,.b-contacts .b-block .contacts .left .mail-2{
				font-size: 22px;
				margin-bottom: 20px;
			}
			.b-contacts .b-block .contacts .left .mail-2{
				margin-bottom: 40px;
			}
			.b-contacts .b-block .contacts .left .skype{
				font-size: 20px;
				color: #4B4B4B;
				margin-bottom: 17px;
			}
			.b-contacts .b-block .contacts .left .fb{
				font-size: 20px;

			}
			.b-contacts .b-block .contacts .left .skype:after{
				width: 22px;
  				height: 20px;
  				left: -32px;
  				top: 2px;
  				background-image: url('../i/b-contacts/c-skype.png');
			}
			.b-contacts .b-block .contacts .left .fb {
				color: #4B4B4B;
			}
			.b-contacts .b-block .contacts .left .fb:after{
				width: 10px;
  				height: 18px;
  				left: -26px;
  				top: 2px;
  				background-image: url('../i/b-contacts/c-fb.png');
			}	
		.b-contacts .b-block .contacts .right{
			width: 446px;
			float: left !important;
			padding-left: 34px;
		}	
			.b-contacts .b-block .contacts .right h3{
				font-family: "PNS";
				font-size: 24px;
				margin-bottom: 39px;
			}	
				.b-contacts .b-block .contacts .right h3:after{
					width: 19px;
	  				height: 27px;
	  				left: -32px;
	  				top: 0;
	  				background-image: url('../i/b-contacts/c-map.png');
				}
			.b-contacts .b-block .contacts .right h4{
				font-family: "PNS";
				font-size: 24px;
				margin-bottom: 5px;
			}
				.b-contacts .b-block .contacts .right h4:after {
					width: 21px;
	  				height: 21px;
	  				left: -32px;
	  				top: 4px;
	  				background-image: url('../i/b-contacts/c-phone.png');
				}
			.b-contacts .b-block .contacts .right h5{
				font-size: 16px;
				color: rgba(0,0,0,0.42);
			}
#b-contacts-map {
	height: 447px;
	width: 100%;
}
.contacts-map-point {
	color: rgb(130, 1, 1);
	font-weight: bold;
	font-size: 14px;
}
.b-copyright {
	padding-top: 27px;
	padding-bottom: 32px;
}
	.b-copyright .b-block{
		text-align: left;
	}
		.b-copyright .b-block h3{

			font-size: 12px;
			color: rgba(0,0,0,0.42);
			margin-left: 5px;
		}
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}